In [77]:
import pandas as pd

In [78]:
df1=pd.read_csv('1.csv')
df2=pd.read_csv('2.csv')

In [79]:
df3=pd.concat([df1, df2], axis=1, sort=False)
df3.columns=['distName1','Parameter1','old_Value','distName2','Parameter2','new_Value']
df3['diff']=df3['old_Value']==df3['new_Value']
df4=df3[df3['diff']==False].drop(['distName2','Parameter2','diff'], axis=1)
df4

            distName1                  Parameter1 old_Value new_Value
3          LALXN33162        $maintenanceRegionId       LTE        3G
10         LALXN33162  actTransportConfigFallback         0         5
25  LALXN33162/ANTL-1            antennaTotalLoss       -30        20
26  LALXN33162/ANTL-1    communication3gppEnabled         1        -1